//VARIABLE
@import "../extrascss/variables";

/* PAGINA DE OFERTAS */

.header-all{
    background-color: $color-titulotres;
    text-align: center;
}
.navbar{
       display: flex;
    justify-content: end; 
    }   
.subtitulo-oferta{
        font-weight: 380;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        color: #3D0C02;
        text-align: center;
    }
.ofertasimg{
        display: flex;
        justify-content: center;
        align-items: stretch;
        text-align: center;
        flex-wrap: wrap;
        flex-direction: row;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        margin: auto;
}
