//variables de medidas

$medida-principal: 600px;
$medida-secundaria: 70%;
$medida-imagenes: 100%;

//variables de colores 

$color-font:  #e6d3c0;
$color-titulodos: #3D0C02;
$color-titulotres: #d8b9aa;
